@font-face {
    font-family: "DOS"; 
    src: url('fonts/Px437_DOS-V_re_ANK24.woff2') format('woff2');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevents scrollbars */
    color:azure;
    font-family: "DOS", "Courier New", Courier, monospace;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-font-smoothing: greyscale;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; 
    height: 100%;
    background-repeat: repeat; 
}

.layer1 {
    background-image: url('images/KettleParallaxBG.png'); /* Replace with your first image */
    animation: moveBackground1 30s linear infinite; /* Adjust duration for speed */
}

.layer2 {
    background-image: url('images/KettleParallaxNeb.png'); /* Replace with your second image */
    animation: moveBackground2 20s linear infinite; /* Adjust duration for speed */
}

@keyframes moveBackground1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Move left by half the width */
    }
}

@keyframes moveBackground2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-25%); /* Move left by less than half */
    }
}

#body {
    position: relative;
    z-index: 1; 
}

a:link {
    color: #588bdc;
}

a:visited {
    color: #7c5acc;
}

.inter-body {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1a1f42a8;
    width: 100%;
}

nav>ul:nth-of-type(2) {
    display: flex;
}

nav>ul:nth-of-type(2)>li {
    padding-right: 2em;
    padding-top: 1em;
}

ul {
    list-style-type: none;
}

.bottom-cirno {
    position:fixed;
    bottom:0px;
    left:75%;
}

/* from https://github.com/picocss/pico/discussions/482#discussioncomment-9043725 - thanks! */
:root {
    --pico-font-family-sans-serif: Inter, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-font-size: 90%;
    /* Original: 100% */
    --pico-line-height: 1.25;
    /* Original: 1.5 */
    --pico-form-element-spacing-vertical: 0.75rem;
    /* Original: 1rem */
    --pico-form-element-spacing-horizontal: 1.0rem;
    /* Original: 1.25rem */
    --pico-border-radius: 0.375rem;
    /* Original: 0.25rem */
}

@media (min-width: 576px) {
    :root {
        --pico-font-size: 90%%;
        /* Original: 106.25% */
    }
}

@media (min-width: 768px) {
    :root {
        --pico-font-size: 90%%;
        /* Original: 112.5% */
    }
}

@media (min-width: 1024px) {
    :root {
        --pico-font-size: 90%%;
        /* Original: 118.75% */
    }
}

@media (min-width: 1280px) {
    :root {
        --pico-font-size: 90%%;
        /* Original: 125% */
    }
}

@media (min-width: 1536px) {
    :root {
        --pico-font-size: 90%%;
        /* Original: 131.25% */
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-weight: 600;
    /* Original: 700 */
}

article {
    border: 14px solid ;
    border-image: url(https://raw.githubusercontent.com/Teromax34/JuniorCheddur/refs/heads/master/images/cirno-frame.png) 14 round;
    padding: 2px;
    margin: 1pc;
}
article>div {
    background-color: rgba(83,97,189,0.5);
    border-radius: 5px;
    padding: 10px;
}


article>footer {
    border-radius: calc(var(--pico-border-radius) * 2);
    /* Original: var(--pico-border-radius) */
}